<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cssl.mapper.BookManagerMapper">

    <select id="showAllBook" resultType="BookManager">
        select * from bookmanager
    </select>

    <insert id="insertBook" parameterType="BookManager">
        insert into bookmanager(name, author, time, type)
        values (#{name},#{author},#{time},#{type})
    </insert>

    <delete id="deleteBook" parameterType="int">
        delete from bookmanager where id=#{id}
    </delete>

    <select id="findById" parameterType="int" resultType="BookManager">
        select * from bookmanager where id=#{id}
    </select>

    <update id="updateBook" parameterType="BookManager">
        update bookmanager set name=#{name},author=#{author},time=#{time},type=#{type}
        where id=#{id}
    </update>


</mapper>